.container-fluid{
  background-color: #e83306;
}

.active {
  font-size: 18px;
	border-radius: 5px;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
border-radius: 5px !important;
}

a {
  color: white !important;
}

.navbar-brand {
  margin-right: 3px !important;
	text-align: center;
}

body {
background-color:#d3d3d3;
}
