.container-fluid{
  background-color: #d3d3d3;
}

.active {
  font-size: 18px;
	border-radius: 5px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
border-radius: 5px !important;
}

a {
  color: white !important;
}

.bar {
	margin: auto;
	float: left;
}

.navbar-brand {
  margin-right: 3px !important;
	text-align: center;
}

#register {
  margin-left: 6px;
}

#loginbutton{
  position: relative!important;
  top: -10px !important;
}

#registerbutton {
	margin-top: 10px;	
}

.wrapper {
	margin-top: 80px;
	margin-bottom: 20px;
  opacity: .95;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
  }

.form-signin-heading {
  text-align:center !important;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}



body {


background-color:#d3d3d3;
background-size: 64px 128px;
}
